body {
    font-family: LatoWebMedium, Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 { margin-top: 5px; margin-bottom: 5px; }

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

b {
    font-family: LatoWebBold, Helvetica, Arial;
}

.iframeholder {
    text-align: left;
    padding: 10px;
	width: 100%;
    height: 200px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	
}
iframe { width:100%; border: none}

select, input {
    border-radius: 10px;
    padding:5px;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
    font-family: LatoWebBold, Helvetica, Arial;
}

textarea {
    border-radius: 15px;
    padding: 5px;
}

hr {
    margin-top:30px;
    margin-bottom:30px;
}

.button {
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.lockbutton {
    margin: 5px;
    padding: 40px;
    border-radius: 5px;
    border: none;
}

.navbar {
    width: 100%;
    text-align: left;
}
.navbarleft {
    width: 70%;
    text-align: left;
    float: left;
}
.navbarright {
    width: 30%;
    text-align: right;
    float: right;
}

.display {
    margin-top: 50px;
}

.logo {
    height: 5rem;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buffer {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
}
.compactinput {
    width: 50px;
}
.list {
    text-align: left;
}
.error { color: #ff0000; }
.warning { color: #ddbb00; }

.statusicon {
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    background-color: #111111;
}
